{% extends 'shared/base.html' %}


{% block content %}
    <h2 class="text-center mt-5 mb-3">History</h2>
    <div class="container">
        {% if not object_list %}
            <div class="row text-center">
                <hr>
                <h5>You didn't cook anything yet.</h5>
                <form>
                    <button class="btn btn-primary" formaction="{% url 'suggest' %}">Get suggestion</button>
                </form>
            </div>
        {% else %}
            <div class="row row-cols-auto">
                {% for choice in object_list %}
                    <div class="col">
                        <h6 class="center">{{ choice.date|date }}</h6>
                        <hr>
                        {% include 'recipes/short-details.html' with r=choice.recipe %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if page_obj.has_other_pages %}
        {% include 'shared/pagination.html' %}
    {% endif %}
{% endblock %}