{% extends 'shared/base.html' %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="container-fluid mt-2 mb-2">
                <div class="card border-primary mb-3" id="card-big">

                    <div class="card-header">
                        <div class="row row-cols-auto">
                            <div class="col profile-image center">
                                {% if user.profile.image %}
                                    <img src="{{ user.profile.image.url }}" alt="image">
                                {% else %}
                                    <img src="{% static 'images/profile-default.jpg' %}" alt="image">
                                {% endif %}
                            </div>

                            <div class="col">
                                <h4 class="text-primary mt-3">{{ user.profile.username }}</h4>
                                <p>
                                    <small class="text-muted">Joined: {{ user.date_joined|date }}</small>
                                </p>
                                <h6>{{ user.profile.first_name|capfirst }} {{ user.profile.last_name|capfirst }}</h6>
                                <hr>
                                <p>
                                    <label class="text-muted">
                                        Rang: <span class="text-primary">{{ user.profile.rang }} </span>
                                    </label>
                                </p>
                                <p>
                                    <label class="text-muted">
                                        Liked: <span
                                            class="text-primary">{{ user.like_set.count }} recipes</span>
                                    </label>
                                </p>
                                <p>
                                    <label class="text-muted">
                                        Commented: <span
                                            class="text-primary">{{ user.comment_set.count }} times</span>
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center mb-3">{{ user.profile.username }}'s public recipes: {{ object_list.count }}</h2>
    <div class="container">
        {% if not user.recipe_set.count %}
            <div class="row text-center">
                <hr>
                <h5>{{ user.profile.username }} doesn't have any recipes yet.</h5>
            </div>
        {% else %}
            <div class="row row-cols-auto">
                {% for recipe in object_list %}
                    <div class="col">
                        {% include 'recipes/short-details.html' with r=recipe %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if page_obj.has_other_pages %}
        {% include 'shared/pagination.html' %}
    {% endif %}


{% endblock %}