{% extends 'shared/base.html' %}
{% url 'update-profile' as update_profile %}
{% load static %}



{% block content %}
    <div class="center">
        <h3 class="text-center">Profile</h3>
    </div>
    <div class="container">
        <div class="card-container">
            <div class="row row-cols-auto">
                <div class="card col center">
                    <div class="card-body mt-4 mb-4">
                        <div class="profile-image center mb-5">
                            {% if request.user.profile.image %}
                                <img src="{{ request.user.profile.image.url }}" alt="profile pic">
                            {% else %}
                                <img src="{% static 'images/profile-default.jpg' %}" alt="profile pic">
                            {% endif %}
                        </div>
                        <hr>
                        <h4 class="text-primary">{{ request.user.profile.username }}</h4>
                        <p>
                            <small class="text-muted">Joined: {{ request.user.date_joined|date }}</small>
                        </p>
                        <hr>
                        <p>
                            <label class="text-muted">
                                Rang: <span class="text-primary">{{ request.user.profile.rang }} </span>
                            </label>
                        </p>
                        <p>
                            <label class="text-muted">
                                Recipes: <span class="text-primary">{{ request.user.recipe_set.count }}</span>
                            </label>
                        </p>
                        <p>
                            <label class="text-muted">
                                Liked: <span class="text-primary">{{ request.user.like_set.count }} recipes</span>
                            </label>
                        </p>
                        <p>
                            <label class="text-muted">
                                Commented: <span class="text-primary">{{ request.user.comment_set.count }} times</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="card col center">
                    <div class="card-body">
                        <br>
                        <form action="{{ update_profile }}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in p_form %}
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <small class="text-danger">{{ field.errors }}</small>
                                {% endif %}
                            {% endfor %}
                            {% for field in u_form %}
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <small class="text-danger">{{ field.errors }}</small>
                                {% endif %}
                            {% endfor %}
                            <br>
                            <button class="btn btn-primary center">Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <p class="notification">
            <a href="{% url 'change-password' %}" class="text-danger text-decoration-none">Change password?</a>
        </p>
        <p class="notification">
            <a href="{% url 'delete-user' request.user.id %}" class="text-danger text-decoration-none">Delete user?</a>
        </p>
    </div>
{% endblock %}