{% extends 'shared/base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="card" id="card-form">
                <div class="card-header">
                    <h3 class="text-center">Password Reset Complete</h3>
                </div>
                <div class="card-body">
                    <p>
                        Your password has been set. You may go ahead and sign in now.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'sign-in' %}" class="center text-decoration-none">
                        <h4>Sign In</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}