<div class="card border-primary mb-3">
    <h3 class="card-header">Предложение на деня</h3>
    <div class="card-body">
        <h5 class="card-title">{{ recipe.title }}</h5>
        <h6 class="card-subtitle text-muted">{{ recipe.description }}</h6>
    </div>

{#    {% if not r.image.url %}#}
{#    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200"#}
{#         aria-label="Placeholder: Image cap" focusable="false" role="img"#}
{#         preserveAspectRatio="xMidYMid slice"#}
{#         viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">#}
{#        <rect width="100%" height="100%" fill="#868e96"></rect>#}
{#        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>#}
{#    </svg>#}
{#    {% else %}#}
        <img src="{{ r.image.url }}" alt="image">
{#    {% endif %}#}

    <div class="card-body">
        {#        <p class="card-text">#}
        {#            Some quick example text to build on the card title and make up the bulk of#}
        {#            the#}
        {#            card's#}
        {#            content.#}
        {#        </p>#}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
        </form>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ recipe.servings }}</li>
        <li class="list-group-item">{{ recipe.time }}</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">link</a>
        <a href="#" class="card-link">link</a>
    </div>
    <div class="card-footer text-muted">
        {{ recipe.upload_time }}
    </div>
</div>