{% extends 'shared/base.html' %}

{% block content %}
    <div class="cover">
        <h1>Welcome to iCook</h1>
    </div>

    <div class="after-cover">

        <div class="container w-50">
            <div class="row text-center">
                <h5>
                    iCook is a digital cookbook and cooking guide
                    alike, that helps home cooks of every level discover, save and organize the
                    best recipes, while also helping them become better.
                </h5>
                <br>
                <h5>
                    You can find, add, like and comment recipes and also save suggestions
                    about what to cook.
                </h5>
                {% if not request.user.is_authenticated %}
                    <h5>For full access
                        <a href="{% url 'sign-in' %}">sign in now</a>
                    </h5>
                {% endif %}
            </div>
        </div>


        <h2 class="text-center mt-5 mb-3">Top Recipes</h2>
        <hr>
        <div class="container">
            <div class="row row-cols-auto">
                <div class="col">
                    <h5 class="center">Most viewed:</h5>
                    <hr>
                    {% include 'recipes/short-details.html' with r=most_views %}
                </div>
                <div class="col">
                    <h5 class="center">Most liked:</h5>
                    <hr>
                    {% include 'recipes/short-details.html' with r=most_likes %}
                </div>
                <div class="col">
                    <h5 class="center">Most commented:</h5>
                    <hr>
                    {% include 'recipes/short-details.html' with r=most_comments %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}