{% load bootstrap_icons %}

<div class="sidebar d-flex flex-column flex-shrink-0 p-1" id="mySidebar">

    <a class="closebtn" id="closebtn" onclick="function closeNav() {
        document.getElementById('mySidebar').style.width = '3rem';
        document.getElementById('main').style.marginLeft = '3rem';
        document.getElementById('closebtn').hidden = true;
        document.getElementById('openbtn').hidden = false;
        document.getElementById('control-panel').style.fontSize = '0';
        let elements = document.getElementsByClassName('nav-link');
        for (let i = 0; i < elements.length; i++) {
            let element = elements[i];
            element.style.fontSize = '0';
        }}
    closeNav()">
        {% bs_icon 'x' size='2rem' color='currentColor' extra_classes="bi-valign-text-top" %}
    </a>

    <a class="openbtn" id="openbtn" hidden onclick="function openNav() {
        document.getElementById('mySidebar').style.width = '10rem';
        document.getElementById('main').style.marginLeft = '10rem';
        document.getElementById('closebtn').hidden = false;
        document.getElementById('openbtn').hidden = true;
        document.getElementById('control-panel').style.fontSize = '1.2rem';
        let elements = document.getElementsByClassName('nav-link');
        for (let i = 0; i < elements.length; i++) {
            let element = elements[i];
            element.style.fontSize = '1.1rem';
        }}
    openNav()">
        {% bs_icon 'list' size='1.5rem' color='currentColor' extra_classes="bi-valign-text-top" %}
    </a>

    <br/>
    <hr/>
    <span class="control-panel" id="control-panel">CONTROL PANEL</span>
    <hr/>
    <ul class="navbar-nav me-auto flex-column mb-lg-auto justify-content-center">
        <li>
            <hr>
        </li>
        <li onclick="function openNav() {
        document.getElementById('mySidebar').style.width = '10rem';
        document.getElementById('main').style.marginLeft = '10rem';
        document.getElementById('closebtn').hidden = false;
        document.getElementById('openbtn').hidden = true;
        document.getElementById('control-panel').style.fontSize = '1.2rem';
        let elements = document.getElementsByClassName('nav-link');
        for (let i = 0; i < elements.length; i++) {
            let element = elements[i];
            element.style.fontSize = '1.1rem';
        }}
    openNav()">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
                {% bs_icon 'check2-square' size='1.2rem' color='currentColor' extra_classes="bi-valign-text-bottom" %}
                Suggest
            </a>
            <ul class="dropdown-menu dropdown-menu-dark justify-content-start text-small shadow">
                <li>
                    <a class="dropdown-item" href="#">
                        {% bs_icon 'caret-right-fill' size='1rem' color='currentColor' extra_classes="icons" %}
                        Breakfast
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        {% bs_icon 'caret-right-fill' size='1rem' color='currentColor' extra_classes="icons" %}
                        Salad
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        {% bs_icon 'caret-right-fill' size='1rem' color='currentColor' extra_classes="icons" %}
                        Appetizer
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        {% bs_icon 'caret-right-fill' size='1rem' color='currentColor' extra_classes="icons" %}
                        Soup
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        {% bs_icon 'caret-right-fill' size='1rem' color='currentColor' extra_classes="icons" %}
                        Main
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        {% bs_icon 'caret-right-fill' size='1rem' color='currentColor' extra_classes="icons" %}
                        Dessert
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        {% bs_icon 'shuffle' size='1.1rem' color='currentColor' extra_classes="bi-valign-text-bottom icons" %}
                        Random
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
            </ul>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <a href="{{ test }}"
               class="nav-link {% if request.path == test %}active{% endif %}">
                {% bs_icon 'calendar-check' size='1.2rem' color='currentColor' extra_classes="bi-valign-top" %}
                Today's
            </a>
        </li>
        <li>
            <a href="{{ test }}"
               class="nav-link {% if request.path == test %}active{% endif %}">
                {% bs_icon 'clock-history' size='1.2rem' color='currentColor' extra_classes="bi-valign-top" %}
                History
            </a>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <a href="{{ test }}"
               class="nav-link {% if request.path == test %}active{% endif %}">
                {% bs_icon 'journal-bookmark-fill' size='1.2rem' color='currentColor' extra_classes="bi-valign-top" %}
                Note Pad
            </a>
        </li>
        <li>
            <a href="{% url 'create-recipe' %}"
               class="nav-link {% if request.path == test %}active{% endif %}">
                {% bs_icon 'file-earmark-plus' size='1.2rem' color='currentColor' extra_classes="bi-valign-top" %}
                Add Recipe
            </a>
        </li>
        <li>
            <hr>
        </li>
    </ul>


    <div class="nav-item dropdown">
        <a href="#" class="d-flex dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false" onclick="function openNav() {
        document.getElementById('mySidebar').style.width = '10rem';
        document.getElementById('main').style.marginLeft = '10rem';
        document.getElementById('closebtn').hidden = false;
        document.getElementById('openbtn').hidden = true;
        document.getElementById('control-panel').style.fontSize = '1.2rem';
        let elements = document.getElementsByClassName('nav-link');
        for (let i = 0; i < elements.length; i++) {
            let element = elements[i];
            element.style.fontSize = '1.1rem';
        }}
    openNav()">
            <img src="" alt="user.photo" width="32" height="32" class="rounded-circle me-2">
        </a>
        <ul class="dropdown-menu dropdown-menu-dark justify-content-start text-small shadow">
            <li>
                <a class="dropdown-item" href="#">
                    {% bs_icon 'file-earmark-person' size='1.2rem' color='currentColor' extra_classes="bi-valign-top" %}
                    Profile
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href="#">
                    {% bs_icon 'box-arrow-left' size='1.2rem' color='currentColor' extra_classes="bi-valign-top icons" %}
                    Sign Out
                </a>
            </li>
        </ul>
    </div>
</div>