{% extends 'shared/base.html' %}


{% block content %}
    <h2 class="text-center mt-5 mb-3">My Recipes</h2>
    <div class="container">
        {% if not object_list %}
            <div class="row text-center">
                <hr>
                <h5>You don't have any recipes yet.</h5>
                <form>
                    <button class="btn btn-primary" formaction="{% url 'create-recipe' %}">Add Recipe</button>
                </form>

            </div>
        {% else %}
            <div class="row">
                <hr>
                {% for recipe in object_list %}
                    <div class="col-lg-4 col-sm-6">
                        {% include 'recipes/short-details.html' with r=recipe %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if object_list %}
        {% include 'shared/pagination.html' %}
    {% endif %}
{% endblock %}