{% extends 'shared/base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="card" id="card-form">
                <div class="card-header">
                    <h3 class="text-center">Password Reset Sent</h3>
                </div>
                <div class="card-body">
                    <p>
                        We've emailed you instructions for setting up a new one.
                        If an account exist for the email you entered you will receive them shortly.
                    </p>
                </div>
                <div class="card-body">
                    <p>
                        If you don't receive instructions, please make sure you've entered the proper email
                        and check your spam folder.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}