{% extends 'shared/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card" id="card-form">
                <div class="card-header">
                    <h3 class="text-center">Sign Up</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'sign-up' %}" method="post">
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                        <br>
                        <button class="btn btn-primary center">Sign up</button>
                    </form>
                </div>
                <div class="card-footer">
                    <h5 class="center">
                        Already have an account? <a href="{% url 'sign-in' %}">Sign In</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}