<footer>
    <a class="text-decoration-none" href="https://github.com/ivo-bass/iCook.git">GitHub Repo</a>
    <p class="text-center">DjangoExam@SoftUni | 2021</p>

{#    <span class="icon" onclick="darkMode()">#}
{#        <ion-icon class="switch-icon" name="moon-outline" id="dark" {% if request.user.profile.dark_theme %}hidden{% endif %}></ion-icon>#}
{#        <ion-icon class="switch-icon" name="sunny-outline" id="light" {% if not request.user.profile.dark_theme %}hidden{% endif %}></ion-icon>#}
{#    </span>#}


    <script>
        function darkMode() {
            let element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>

</footer>

