{% extends 'shared/base.html' %}

{% block content %}
    <h2 class="text-center mt-5 mb-3">Recipes</h2>

    <div class="container">
        <div class="row">
            <hr>
            {% for recipe in recipes %}
                <div class="col">
                    {% include 'recipes/short-details.html' with r=recipe %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% if page_obj.has_other_pages %}
        {% include 'shared/pagination.html' %}
    {% endif %}
{% endblock %}