{% extends 'shared/base.html' %}

{% block content %}
    <div class="container">
        <form class="d-flex" method="post" action="{{ search }}">
            {% csrf_token %}
            <input class="form-control me-sm-2" type="text" placeholder="Search..." name="searched">
            <button type="submit" class="btn btn-primary btn-sm">
                <ion-icon name="search-outline" size="large"></ion-icon>
            </button>
        </form>

    </div>
    <div class="container">
        {% if not searched %}
            <div class="row">
                <h2>Please, write a keyword in the field!</h2>
            </div>
        {% else %}
            <div class="row">
                <h2>You searched for '{{ searched }}'.</h2>
            </div>
            </div>

            <div class="container">
            {% if not recipes %}
                <div class="row">
                    <p>We have found no results. Please try again.</p>
                </div>

            {% else %}
                <div class="row">
                    {% for recipe in recipes %}
                        <div class="col-lg-4 col-sm-6">
                            {% include 'recipes/short-details.html' with r=recipe %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        </div>

{% endblock %}