<div class="card-container">
    <div class="new-card">
        <a href="{% url 'details-recipe' r.pk %}" class="text-decoration-none">
            <div class="imgBx">
                <img src="{{ r.image.url }}">
            </div>
        </a>
        <div class="card-content">
            <p class="card-text">
                {{ r.description|capfirst|truncatechars:35 }}
            </p>
            <hr>
            <ul class="list-group list-group-horizontal center">
                <li class="list-group-item">
                    <small class="text-warning">
                        <ion-icon name="people-outline"></ion-icon>
                        {{ r.servings }}
                    </small>
                </li>
                <li class="list-group-item">
                    <small class="text-success">
                        <ion-icon name="time-outline"></ion-icon>
                        {{ r.time }} min
                    </small>
                </li>
            </ul>
            <hr>
        </div>
        <div>
            <a href="{% url 'details-recipe' r.pk %}" class="text-decoration-none">
                <h5 class="card-title text-primary center">{{ r.title|capfirst }}</h5>
            </a>
            <h6 class="card-subtitle text-muted center">{{ r.meal_type }}</h6>
            <hr>
            <div class="row row-cols-2 justify-content-between">
                <div class="col text-center">
                    <small class="text-muted">likes: {{ r.like_set.count }}</small>
                </div>
                <div class="col text-center">
                    <small class="text-muted">comments: {{ r.comment_set.count }}</small>
                </div>
            </div>

        </div>
    </div>
</div>
